server/node_modules/
server/dist/
server/public/pdfs/*.pdf
server/public/

*.log

.claude
.vscode

client/dist/
client/node_modules/

sample_client/

# env files (can opt-in for committing if needed)
.env*
